# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# pm2 관련
.pm2/

# nginx 관련
/nginx/
/etc/nginx/
*.log
node_modules/.bin/uuid

# test
/test/
